"*":
  Hydrogen:
    autocomplete: false
    kernelspec: '''
      { "kernelspecs": {
          "javascript": {
            "resource_dir": "/Users/t9md/Library/Jupyter/kernels/javascript",
            "spec": {
              "language": "javascript",
              "display_name": "Javascript (Node.js)",
              "env": {},
              "argv": [
                "ijskernel",
                "--hide-undefined",
                "{connection_file}",
                "--protocol=5.0"
              ]
            }
          },
          "python2": {
            "resource_dir": "/usr/local/share/jupyter/kernels/python2",
            "spec": {
              "language": "python",
              "display_name": "Python 2",
              "env": {},
              "argv": [
                "python",
                "-m",
                "ipykernel_launcher",
                "-f",
                "{connection_file}"
              ]
            }
          }
        }
      }
      
    '''
    languageMappings: "{\"javascript\": \"babel es6 javascript\"}"
    startDir: "dirOfFile"
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
      "narrow"
    ]
  "choose-pane":
    labelChars: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  "clip-history": {}
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "package-that-throws-an-exception"
      "package-with-broken-package-json"
      "package-with-broken-keymap"
      "about"
      "background-tips"
      "welcome"
      "package-generator"
      "metrics"
      "vim-mode"
      "encoding-selector"
      "archive-view"
      "autosave"
      "markdown-table-formatter"
      "language-elm"
      "color-picker"
      "busy-signal"
      "intentions"
      "keystroke"
      "bookmarks"
      "recent-finder"
      "github"
      "linter-eslint"
      "linter-ui-default"
      "atom-hot-package-loader"
      "flow-ide"
      "language-julia"
      "language-babel"
      "Hydrogen"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
    titleBar: "hidden"
  "cursor-history":
    columnDeltaToRemember: 5
    flashOnLand: true
    searchAllPanes: false
  "demo-mode":
    autoHideTimeout: 1500
    maxKeystrokeToShow: 3
  dev:
    _group___abc2: {}
    trackActivePaneItem: false
    trackDidAddPane: false
    trackDidOpen: false
  "disable-keybindings": {}
  editor:
    atomicSoftTabs: false
    fontFamily: "FiraCode-Retina"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "e4cd677f-7184-fb31-7448-ec0b8eb79d92"
  "file-icons":
    strategies: {}
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
    scrollToResultOnLiveSearch: true
  "fold-comments": {}
  "git-diff": {}
  "js-hyperclick":
    jumpToImport: true
  "keymap-disabler": {}
  keystroke:
    commands: [
      {
        name: "escape-and-move-right"
        keystroke: "escape l"
        scope: "atom-text-editor"
      }
    ]
  linter:
    lintOnChange: false
  "linter-eslint":
    useGlobalEslint: true
  "linter-ui-default":
    panelHeight: 69
    showStatusBar: false
    useBusySignal: false
  "markdown-table-formatter":
    autoSelectEntireDocument: false
    formatOnSave: false
  narrow:
    AtomScan: {}
    ProjectSymbols: {}
    Scan: {}
    Search:
      searcher: "rg"
      startByDoubleClick: true
    SelectFiles:
      rememberQuery: true
    confirmOnUpdateRealFile: false
  "nord-atom-ui": {}
  paner:
    debug: true
  "prettier-atom":
    formatOnSaveOptions:
      excludedGlobs: [
        "tryit.js"
      ]
    prettierOptions:
      bracketSpacing: false
      jsxBracketSameLine: true
      printWidth: 100
      semi: false
      trailingComma: "es5"
    useEslint: true
  "project-find-navigation":
    showDeprecationWarning: false
  "project-folder":
    closeItemsForRemovedProject: true
    gitProjectDirectories: [
      "~/go/src"
    ]
  "quick-highlight":
    highlightSelection: false
    highlightSelectionMinimumLength: 4
  react: {}
  "recent-finder": {}
  "relative-numbers":
    softWrapsCount: false
  "run-in-atom":
    clearConsole: false
    openDeveloperToolsOnRun: false
  "spell-check":
    locales: [
      "en-US"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "status-bar": {}
  "symbols-view":
    quickJumpToFileSymbol: false
    useEditorGrammarAsCtagsLanguage: false
  "theme-switch":
    profiles: [
      "one-light-ui one-light-syntax"
      "one-light-ui duotone-light-syntax"
      "one-dark-ui one-dark-syntax"
      "one-dark-ui one-dark-vivid-syntax"
      "one-dark-ui duotone-dark-syntax"
    ]
  toggle: {}
  "toggle-quotes": {}
  transformer: {}
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  try:
    basename: "tryit"
    root: "~/tryit"
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    debugOutput: "console"
    debugOutputFilePath: "~/github/atom-vim-mode-plus/debug.log"
    demoAutoHideTimeout: 1500
    devReloadPackages: [
      "vim-mode-plus-move-selected-text"
      "vim-mode-plus-jasmine-increase-focus"
      "narrow"
      "quick-highlight"
      "demo-mode"
    ]
    flashOnMoveToOccurrence: true
    flashOnOperateBlacklist: [
      "ReplaceWithExecution"
      "ReplaceWithExecutionKeepOriginalText"
      "SplitCharacter"
    ]
    hideTabBarOnMaximizePane: false
    highlightSearch: true
    highlightSearchExcludeScopes: [
      "narrow"
    ]
    incrementalSearch: true
    keepColumnOnSelectTextObject: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapCCToChangeInnerSmartWord: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
    keymapUnderscoreToReplaceWithRegister: true
    moveToFirstCharacterOnVerticalMotion: false
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
    strictAssertion: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  "vim-mode-plus-jasmine-increase-focus":
    autoSave: true
  "vim-mode-plus-move-selected-text": {}
  "vim-mode-plus-replace-with-execution":
    registerToSelectList: true
  whitespace: {}
".coffee.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
".go.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    autoIndent: true
