"*":
  Hydrogen:
    autocomplete: false
    languageMappings: "{\"javascript\": \"babel es6 javascript\"}"
    startDir: "dirOfFile"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
      "narrow"
    ]
  "choose-pane":
    labelChars: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  "clip-history": {}
  core:
    _disabledPackages: [
      "package-that-throws-an-exception"
      "package-with-broken-package-json"
      "package-with-broken-keymap"
      "about"
      "background-tips"
      "welcome"
      "metrics"
      "encoding-selector"
      "archive-view"
      "autosave"
      "language-elm"
      "color-picker"
      "bookmarks"
      "recent-finder"
      "github"
      "atom-hot-package-loader"
      "flow-ide"
      "language-julia"
      "Hydrogen"
      "vim-mode"
      "markdown-table-formatter"
      "aligner"
      "aligner-javascript"
      "ide-flowtype"
      "focus-pane-or-panel"
      "ide-typescript"
      "atom-ide-ui"
      "language-babel"
      "package-generator"
      "linter"
      "busy-signal"
      "intentions"
      "linter-coffeelint"
      "linter-eslint"
      "linter-ui-default"
      "atomic-chrome"
      "choose-pane"
      "clip-history"
      "demo-mode"
      "dev"
      "keystroke"
      "markdown-toc-auto"
      "narrow-git-ls"
      "quick-highlight"
      "remember-file-positions"
      "theme-switch"
      "toggle"
      "run-in-atom"
      "toggle-quotes"
      "vim-mode-plus-auto-ime"
      "vim-mode-plus-ex-mode"
      "vim-mode-plus-move-selected-text"
      "vim-mode-plus-move-to-symbols"
      "vim-mode-plus-replace-with-execution"
      "open-this"
      "vim-mode-plus-keymaps-for-surround"
      "narrow"
      "paner"
      "prettier-atom"
      "transformer"
      "try"
      "vim-mode-plus-jasmine-increase-focus"
      "cursor-history"
      "project-folder"
    ]
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "package-that-throws-an-exception"
      "package-with-broken-package-json"
      "package-with-broken-keymap"
      "about"
      "background-tips"
      "welcome"
      "metrics"
      "encoding-selector"
      "archive-view"
      "autosave"
      "language-elm"
      "color-picker"
      "bookmarks"
      "recent-finder"
      "github"
      "atom-hot-package-loader"
      "flow-ide"
      "language-julia"
      "vim-mode"
      "markdown-table-formatter"
      "aligner"
      "aligner-javascript"
      "ide-flowtype"
      "focus-pane-or-panel"
      "ide-typescript"
      "atom-ide-ui"
      "language-babel"
      "package-generator"
      "linter"
      "busy-signal"
      "intentions"
      "linter-coffeelint"
      "linter-eslint"
      "linter-ui-default"
      "Hydrogen"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "intentions"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
    titleBar: "hidden"
  "cursor-history":
    columnDeltaToRemember: 5
    flashOnLand: true
    searchAllPanes: false
  "demo-mode":
    autoHideTimeout: 1000
    maxKeystrokeToShow: 5
  dev:
    _group___abc2: {}
    trackActivePaneItem: false
    trackDidAddPane: false
    trackDidOpen: false
  editor:
    atomicSoftTabs: false
    fontFamily: "FiraCode-Retina"
    fontSize: 20
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "e4cd677f-7184-fb31-7448-ec0b8eb79d92"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
    scrollToResultOnLiveSearch: true
  "ide-typescript": {}
  "js-hyperclick":
    jumpToImport: true
  keystroke:
    commands: [
      {
        name: "escape-and-move-right"
        keystroke: "escape l"
        scope: "atom-text-editor"
      }
    ]
  linter:
    lintOnChange: false
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 69
    showStatusBar: false
    useBusySignal: false
  "markdown-table-formatter":
    autoSelectEntireDocument: false
    formatOnSave: false
  narrow:
    AtomScan: {}
    ProjectSymbols: {}
    Scan: {}
    SelectFiles:
      rememberQuery: true
    confirmOnUpdateRealFile: false
    notifiedVimModePlusSpecificDefaultKeymap: true
  "nord-atom-ui": {}
  paner:
    debug: true
  "prettier-atom":
    formatOnSaveOptions:
      excludedGlobs: [
        "tryit.js"
      ]
    prettierOptions:
      bracketSpacing: false
      jsxBracketSameLine: true
      printWidth: 120
      semi: false
      trailingComma: "es5"
    useEditorConfig: false
  "project-folder":
    closeItemsForRemovedProject: true
    gitProjectDirectories: [
      "~/go/src"
    ]
  "quick-highlight":
    highlightSelection: false
    highlightSelectionMinimumLength: 4
  "recent-finder": {}
  "run-in-atom":
    clearConsole: false
    openDeveloperToolsOnRun: false
  "spell-check":
    locales: [
      "en-US"
    ]
  "status-bar": {}
  "symbols-view":
    quickJumpToFileSymbol: false
    useEditorGrammarAsCtagsLanguage: false
  "theme-switch":
    logToConsole2: "a"
    profiles: [
      "one-light-ui one-light-syntax"
      "one-dark-ui one-dark-vivid-syntax"
    ]
  toggle: {}
  "toggle-quotes": {}
  transformer: {}
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  try:
    basename: "tryit"
    root: "~/tryit"
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      ")"
      "}"
      "]"
      ">"
    ]
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    debugOutput: "console"
    debugOutputFilePath: "~/github/atom-vim-mode-plus/debug.log"
    defaultScrollRowsOnMiniScroll: 4
    devReloadPackages: [
      "vim-mode-plus-move-selected-text"
      "vim-mode-plus-jasmine-increase-focus"
      "vim-mode-plus-replace-with-execution"
      "vim-mode-plus-ex-mode"
      "narrow"
      "quick-highlight"
      "demo-mode"
    ]
    findAcrossLines: true
    findCharsMax: 100
    findConfirmByTimeout: 200
    flashOnMoveToOccurrence: true
    hideTabBarOnMaximizePane: false
    highlightSearch: false
    highlightSearchExcludeScopes: [
      "narrow"
    ]
    incrementalSearch: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapCCToChangeInnerSmartWord: true
    keymapIAndAToInsertAtTargetWhenHasOccurrence: true
    keymapSToSelect: true
    keymapSemicolonAndCommaToFindPreConfirmedOnFindInput: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapYToYankToLastCharacterOfLine: true
    reuseFindForRepeatFind: true
    sequentialPaste: true
    setCursorToStartOfChangeOnUndoRedo: false
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnMiniScroll: true
    smoothScrollOnRedrawCursorLine: true
    strictAssertion: true
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  "vim-mode-plus-jasmine-increase-focus":
    autoSave: true
    focusTexts: [
      "f"
      "ff"
      "fff"
      "x"
    ]
  "vim-mode-plus-move-selected-text": {}
  "vim-mode-plus-replace-with-execution":
    registerToSelectList: true
  whitespace: {}
".coffee.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
".go.source":
  editor:
    tabLength: 4
    tabType: "hard"
".js.source":
  editor:
    autoIndent: true
