"*":
  "atom-material-ui":
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
      "narrow"
    ]
  "clip-history": {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "package-that-throws-an-exception"
      "package-with-broken-package-json"
      "package-with-broken-keymap"
      "recent-finder"
      "about"
      "autocomplete-snippets"
      "background-tips"
      "welcome"
      "goto-scope"
      "autocomplete-emojis"
      "paner"
      "isearch"
      "phrase"
      "script"
      "package-generator"
      "metrics"
      "atom-fuzzy-grep"
      "language-elm"
      "markdown-table-formatter"
      "vim-mode"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
  "cursor-history":
    excludeClosedBuffer: true
    flashOnLand: true
    searchAllPanes: false
  dev:
    trackActivePaneItem: false
    trackDidAddPane: false
    trackDidOpen: false
  editor:
    atomicSoftTabs: false
    fontFamily: "Ricty"
    fontSize: 19
    invisibles: {}
    lineHeight: 1.3
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "e4cd677f-7184-fb31-7448-ec0b8eb79d92"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
    scrollToResultOnLiveSearch: true
  "keymap-disabler": {}
  keystroke:
    commands: [
      {
        name: "change-inner-word"
        keystroke: "c i w"
      }
      {
        name: "delete-current-word"
        keystroke: "ctrl-shift-w backspace"
      }
      {
        name: "delete-to-eol-twice"
        keystroke: "D j l ."
      }
    ]
  "lazy-motion": {}
  linter:
    gutterEnabled: false
    showErrorPanel: false
  narrow:
    FoldKeepItemsOrderOnFuzzyFilter: true
    FoldUseFuzzyFilter: true
    LinesKeepItemsOrderOnFuzzyFilter: true
    LinesUseFuzzyFilter: true
  "project-find-navigation":
    hideProjectFindPanel: false
  "project-folder":
    closeItemsForRemovedProject: true
    gitProjectDirectories: [
      "~/go/src"
    ]
    hideLoadedFolderFromAddList: false
  "quick-highlight": {}
  "run-in-atom":
    clearConsole: false
    openDeveloperToolsOnRun: false
  smalls:
    flashType: "match"
  "symbols-view":
    quickJumpToFileSymbol: false
  "theme-switch":
    profiles: [
      "one-light-ui one-light-syntax"
      "one-light-ui duotone-light-syntax"
      "one-dark-ui one-dark-vivid-syntax"
      "one-dark-ui duotone-dark-syntax"
      "atom-material-ui atom-material-syntax"
    ]
  toggle: {}
  "toggle-quotes": {}
  "tree-view":
    focusOnReveal: false
    hideVcsIgnoredFiles: true
  try:
    basename: "tryit"
    root: "~/tryit"
  "vim-mode-plus":
    devReloadPackages: [
      "vim-mode-plus-move-selected-text"
    ]
    flashOnOperateBlacklist: [
      "JasmineIncreaseFocus"
      "JasmineDecreaseFocus"
      "ReplaceWithExecution"
      "ReplaceWithExecutionKeepOriginalText"
      "SplitCharacter"
      "SurroundSmartWord"
    ]
    flashScreenOnSearchHasNoMatch: false
    hideTabBarOnMaximizePane: false
    highlightSearch: true
    highlightSearchExcludeScopes: [
      "narrow"
    ]
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    showHoverSearchCounter: true
    stayOnTransformString: true
    stayOnYank: true
    throwErrorOnNonEmptySelectionInNormalMode: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus-jasmine-increase-focus":
    autoSave: true
    focusTexts: [
      "f"
      "ff"
      "fff"
      "x"
    ]
  "vim-mode-plus-move-selected-text": {}
  "vim-mode-plus-replace-with-execution":
    registerToSelectList: true
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    autoIndentOnPaste: false
    tabLength: 2
".go.source":
  editor:
    tabLength: 2
".litcoffee.source":
  editor:
    tabLength: 4
