# [BUG]
# My dot files are allways collection of garbages.
# So if it doesn't work, please give up!
# -------------------------
# 'atom-workspace:not(.atom-text-editor)':
  # 'ctrl-p': 'user:open-tryit-coffee'

'atom-workspace:not([mini])':
  'cmd-ctrl-shift-left': 'window:move-active-item-to-pane-on-left'
  'cmd-ctrl-shift-right': 'window:move-active-item-to-pane-on-right'
  'cmd-ctrl-shift-up': 'window:move-active-item-to-pane-above'
  'cmd-ctrl-shift-down': 'window:move-active-item-to-pane-below'

  'cmd-p': 'project-folder:add'

  'cmd-x': 'vim-mode-plus:exchange-pane'
  'cmd-K': 'vim-mode-plus:move-pane-to-very-top'
  'cmd-J': 'vim-mode-plus:move-pane-to-very-bottom'
  'cmd-H': 'vim-mode-plus:move-pane-to-very-left'
  'cmd-L': 'vim-mode-plus:move-pane-to-very-right'

  'cmd-2': 'paner:split-pane-down-stay'
  'cmd-3': 'paner:split-pane-right-stay'

  'ctrl-[': 'core:cancel'
  'ctrl-g': 'core:cancel'

  # Open my local config
  'ctrl-cmd-e i': 'application:open-your-init-script'
  'ctrl-cmd-e c': 'application:open-your-config'
  'ctrl-cmd-e k': 'application:open-your-keymap'
  'ctrl-cmd-e s': 'application:open-your-stylesheet'
  'ctrl-cmd-e n': 'application:open-your-snippets'
  'ctrl-cmd-e p': 'project-folder:open-config'
  'ctrl-cmd-e t': 'toggle:open-config'

'atom-text-editor':
  'shift-cmd-enter': 'vim-mode-plus:maximize-pane-without-center'

  # [cursor history]
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

  # [hidrogen]
  'cmd-m': 'hydrogen:toggle-bubble'
  'ctrl-cmd-h': 'hydrogen:restart-kernel'
  'cmd-h': 'hydrogen:restart-kernel-and-re-evaluate-bubbles'
  'ctrl-cmd-enter': 'hydrogen:run'

'atom-text-editor.vim-mode-plus.visual-mode.blockwise':
  'G': 'DONT_MOVE_TO_LAST_LINE' # t9md/atom-vim-mode-plus#214

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # 'J': 'vim-mode-plus:join-target'
  'space r': 'vim-mode-plus:replace'
  'g n': 'vim-mode-plus:numbering-lines'
  'g cmd-D': 'vim-mode-plus:duplicate-with-comment-out-original'

  'g =': 'vim-mode-plus:align-occurrence'

  # 'space k': 'keystroke 5 k'
  '\\': 'choose-pane:start'

  '(': 'vim-mode-plus:move-to-previous-function-and-redraw-cursor-line-at-upper-middle'
  ')': 'vim-mode-plus:move-to-next-function-and-redraw-cursor-line-at-upper-middle'

  'ctrl-shift-k': 'vim-mode-plus:delete-line'

  # 'Q': 'vim-mode-plus:move-to-previous-subword'
  # 'q': 'vim-mode-plus:move-to-next-subword'
  # 's': 'vim-mode-plus:select'

  'ctrl-z':      'narrow:reopen'
  'space f':     'narrow:fold'
  'cmd-o':       'narrow:symbols-by-current-word'
  'cmd-shift-o': 'narrow:project-symbols-by-current-word'
  'cmd-r':       'narrow:symbols'
  'cmd-shift-r': 'narrow:project-symbols'
  'space l':     'narrow:scan'
  'cmd-l':       'narrow:scan-by-current-word'
  'space s':     'narrow:search'
  'ctrl-p':      'narrow:git-ls'
  'space a':     'narrow:atom-scan'
  'space A':     'narrow:atom-scan-by-current-word'
  'space G':     'narrow:git-diff-all'

  'g .': 'vim-mode-plus:add-preset-occurrence-from-last-occurrence-pattern'

  # [check purpose]
  # 'm s': 'vim-mode-plus:map-surround'
  # 'f5': 'vim-mode-plus-user:replace-with-execution'
  # 'f6': 'vim-mode-plus-user:replace-with-execution-keep-original-text'

  # 'g i': 'vim-mode-plus:insert-at-end-of-target'
  # 'g i': 'vim-mode-plus:insert-at-start-of-occurrence'
  # 'g i': 'vim-mode-plus:insert-or-append-occurrence-by-target'
  # 'g i': 'vim-mode-plus:insert-or-append-by-target'
  # insert-or-append-by-target
  # 'g i': 'vim-mode-plus:insert-at-start-of-target'
  # 'space i': 'vim-mode-plus:insert-at-head-of-target'
  # 'q': 'vim-mode-plus:insert-at-head-of-target'
  # 'q': 'vim-mode-plus:insert-at-head-of-occurrence'
  # 'Q': 'vim-mode-plus:insert-at-head-of-subword-occurrence'
  # 'g i': 'vim-mode-plus:insert-at-start-of-target'
  # 'g a': 'vim-mode-plus:insert-at-end-of-target'
  # 'g i': 'vim-mode-plus:set-cursor-at-head'
  # 'g i': 'vim-mode-plus:set-cursor-at-start'
  # 'g a': 'vim-mode-plus:set-cursor-at-end'
  'g i': 'vim-mode-plus:insert-at-start-of-occurrence'
  'g a': 'vim-mode-plus:insert-at-end-of-occurrence'

  'g m': 'vim-mode-plus:mark'
  'g enter': 'vim-mode-plus:toggle-persistent-selection'
  'space enter': 'vim-mode-plus:clear-persistent-selections'
  'g h': 'vim-mode-plus-user:quick-highlight'
  'w': 'vim-mode-plus:move-to-next-smart-word'
  'b': 'vim-mode-plus:move-to-previous-smart-word'
  'e': 'vim-mode-plus:move-to-end-of-smart-word'
  'g p': 'vim-mode-plus:put-after-with-auto-indent'
  'g P': 'vim-mode-plus:put-before-with-auto-indent'
  'g _': 'vim-mode-plus:snake-case'
  'g >': 'vim-mode-plus:rotate-arguments-of-inner-pair'
  'g <': 'vim-mode-plus:rotate-arguments-backwards-of-inner-pair'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-cmd-r': 'run-in-atom:run-in-atom'

  # for dev use
  'ctrl-up': 'check-up'
  'ctrl-down': 'check-down'
  'ctrl-right': 'check-right'
  'ctrl-left': 'check-left'

  'cmd-i': 'transformer:run'
  'shift-cmd-i': 'transformer:compile'

'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-cmd-c': 'user:clear-console'
  'ctrl--': 'vim-mode-plus-user:jasmine-increase-focus'

  # [check]
  # 'd': 'keystroke " _ y'
  # 'y': 'keystroke g U'
  # 'd': 'keystroke y'
  # 'j': 'keystroke 3 y'

  'B': 'vim-mode-plus:insert-at-start-of-smart-word'
  'E': 'vim-mode-plus:insert-at-end-of-smart-word'


  'Q': 'demo-mode:toggle'

  'cmd-L': 'paner:move-pane-to-very-right' # to win `split-selections-into-lines`

  'shift-f7': 'vim-mode-plus:reload'
  'f7': 'vim-mode-plus:reload-with-dependencies'
  'f8': 'user:package-hot-reload'

  # 'f9': 'hydrogen:run-all'

  # "'": 'vim-mode-plus:move-to-next-string'

  'cmd-shift-up': 'theme-switch:prev'
  'cmd-shift-down': 'theme-switch:next'

  'ctrl-{': 'vim-mode-plus:insert-at-previous-fold-start'
  'ctrl-}': 'vim-mode-plus:insert-at-next-fold-start'

  'cmd-z': 'vim-mode-plus:toggle-fold'

  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'

  # open-on-github, github-diff: g
  # -------------------------
  'space g o': 'open-on-github:file'
  'space g b': 'open-on-github:blame'
  'space g h': 'open-on-github:history'
  'space g i': 'open-on-github:issues'
  'space g c': 'open-on-github:copy-url'
  'space g r': 'open-on-github:branch-compare'
  'space g g': 'open-on-github:repository'

  'space g n': 'git-diff:move-to-next-diff'
  'space g p': 'git-diff:move-to-previous-diff'
  'space g d': 'git-diff:toggle-diff-list'

  '_': 'toggle:there'

  # toggle-setting: t
  # -------------------------
  'space c': 'user:toggle-show-invisible'
  'space n': 'editor:toggle-line-numbers'
  'space t i': 'user:toggle-show-invisible'
  'space t I': 'editor:toggle-indent-guide'
  'space t w': 'editor:toggle-soft-wrap'
  'space t n': 'editor:toggle-line-numbers'

  # surround: ys
  # -------------------------
  'S': 'vim-mode-plus:surround-smart-word'

  # [open-this]
  'g f': 'open-this:here'

  # misc
  # -------------------------
  'f10': 'window:run-package-specs'
  'g x': 'link:open'
  'T': 'try:paste'
  'space T': 'try:open-file'

'atom-text-editor[mini]':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'ctrl-w': 'editor:delete-to-beginning-of-word'

# 'atom-text-editor.vim-mode-plus.visual-mode[data-grammar="source gfm"]':
#   'f5': 'vim-mode-plus-user:replace-with-execution'
#   'shift-f5': 'vim-mode-plus-user:replace-with-execution-keep-original-text'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  '-': 'vim-mode-plus:replace-with-register'
  '+': 'vim-mode-plus:replace-occurrence-with-register'

  # 'space m': 'quick-highlight:toggle'
  'space m': 'vim-mode-plus-user:quick-highlight-word'
  'space M': 'quick-highlight:clear'
  'g h': 'vim-mode-plus-user:quick-highlight'
  'm': 'vim-mode-plus:toggle-preset-occurrence'
  'M': 'vim-mode-plus:toggle-preset-subword-occurrence'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  "'": 'vim-mode-plus:inner-any-quote'

  # Use closing pair as forwarding version of pair-text-object
  'i }': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a }': 'vim-mode-plus:a-curly-bracket-allow-forwarding'

  'i >': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'
  'a >': 'vim-mode-plus:a-angle-bracket-allow-forwarding'

  'i )': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a )': 'vim-mode-plus:a-parenthesis-allow-forwarding'

'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'vim-mode-plus:activate-normal-mode' # jk to escape

  'cmd-f': 'editor:move-to-end-of-word'
  'cmd-b': 'editor:move-to-beginning-of-word'
  'cmd-d': 'editor:delete-to-end-of-word'
  'ctrl-cmd-f': 'vim-mode-plus:move-to-next-subword'
  'ctrl-cmd-b': 'vim-mode-plus:move-to-previous-subword'
  'ctrl-cmd-d': 'editor:delete-to-end-of-subword'
  'ctrl-cmd-w': 'editor:delete-to-beginning-of-subword'

  'ctrl-y': 'clip-history:paste'
  'cmd-y': 'clip-history:paste-newer'
  'ctrl-Y': 'clip-history:paste-last'
  'ctrl-.': 'vim-mode-plus:insert-last-inserted'
  'ctrl-{': 'vim-mode-plus:move-to-previous-fold-start'
  'ctrl-}': 'vim-mode-plus:move-to-next-fold-start'

  # [check]
  # 'ctrl-y': 'vim-mode-plus:copy-from-line-above'
  # 'ctrl-e': 'vim-mode-plus:copy-from-line-below'

'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-t': 'vim-mode-plus-user:move-selected-text-toggle-overwrite'
  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

  'T': 'try:paste'
  'cmd-/': 'vim-mode-plus:toggle-line-comments'
  'cmd-c': 'vim-mode-plus:yank'

'.select-list': # for fuzzy-finder
  ';': 'core:confirm'
  'ctrl-l': 'pane:split-right'
  'ctrl-j': 'pane:split-down'

'.markdown-preview':
  '\\': 'choose-pane:start'
  'j': 'core:move-down'
  'k': 'core:move-up'

'atom-text-editor.vim-mode-plus-search':
  'ctrl-v': 'vim-mode-plus:search-activate-literal-mode'
  'ctrl-g': 'vim-mode-plus:search-cancel'

'atom-text-editor.vim-mode-plus-search:not(.literal-mode)':
  '[': 'vim-mode-plus:search-visit-prev'
  ']': 'vim-mode-plus:search-visit-next'
  ';': 'core:confirm'

'atom-text-editor.vim-mode-plus.operator-pending-mode':
  'u': 'vim-mode-plus:inner-indentation'
  "m": "vim-mode-plus:a-any-pair",

# To replace current word by `- -`(double dash)
'atom-text-editor.vim-mode-plus.operator-pending-mode.replace-with-register-pending':
  "-": "vim-mode-plus:inner-smart-word",

'atom-text-editor.vim-mode-plus.insert-mode.autocomplete-active':
  'ctrl-g': 'autocomplete-plus:cancel'

# Tree-view navigation
'atom-workspace .tree-view':
  '\\': 'choose-pane:start'
  'g g': 'core:move-to-top'
  'G': 'core:move-to-bottom'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'

'atom-text-editor#choose-pane-editor':
  '\\': 'choose-pane:last-focused'

# demo-mode
'atom-workspace.demo-mode-active atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'up': 'demo-mode:move-hover-up'
  'down': 'demo-mode:move-cmd ^cmd-down'
  'left': 'demo-mode:move-hover-left'
  'right': 'demo-mode:move-hover-right'

  "cmd ^cmd": 'demo-mode:clear'
  'q': 'demo-mode:clear'
  'shift-enter': 'demo-mode:clear'
  '\\': 'demo-mode:clear'


# fix spell-check
'.spell-check-corrections.corrections atom-text-editor[mini]':
  'enter': 'core:confirm'
  'tab': 'core:confirm'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'space': 'abort!'
  'ctrl-f': 'core:move-right'
  '!': 'abort!'
  '"': 'abort!'
  '#': 'abort!'
  '$': 'abort!'
  '%': 'abort!'
  '&': 'abort!'
  '\'': 'abort!'
  '(': 'abort!'
  ')': 'abort!'
  '*': 'abort!'
  '+': 'abort!'
  ',': 'abort!'
  '-': 'abort!'
  '.': 'abort!'
  '/': 'abort!'
  '0': 'abort!'
  '1': 'abort!'
  '2': 'abort!'
  '3': 'abort!'
  '4': 'abort!'
  '5': 'abort!'
  '6': 'abort!'
  '7': 'abort!'
  '8': 'abort!'
  '9': 'abort!'
  ':': 'abort!'
  ';': 'abort!'
  '<': 'abort!'
  '=': 'abort!'
  '>': 'abort!'
  '?': 'abort!'
  '@': 'abort!'
  'A': 'abort!'
  'B': 'abort!'
  'C': 'abort!'
  'D': 'abort!'
  'E': 'abort!'
  'F': 'abort!'
  'G': 'abort!'
  'H': 'abort!'
  'I': 'abort!'
  'J': 'abort!'
  'K': 'abort!'
  'L': 'abort!'
  'M': 'abort!'
  'N': 'abort!'
  'O': 'abort!'
  'P': 'abort!'
  'Q': 'abort!'
  'R': 'abort!'
  'S': 'abort!'
  'T': 'abort!'
  'U': 'abort!'
  'V': 'abort!'
  'W': 'abort!'
  'X': 'abort!'
  'Y': 'abort!'
  'Z': 'abort!'
  '[': 'abort!'
  '\\': 'abort!'
  ']': 'abort!'
  '^': 'abort!'
  '_': 'abort!'
  '`': 'abort!'
  'a': 'abort!'
  'b': 'abort!'
  'c': 'abort!'
  'd': 'abort!'
  'e': 'abort!'
  'f': 'abort!'
  'g': 'abort!'
  'h': 'abort!'
  'i': 'abort!'
  'j': 'abort!'
  'k': 'abort!'
  'l': 'abort!'
  'm': 'abort!'
  'n': 'abort!'
  'o': 'abort!'
  'p': 'abort!'
  'q': 'abort!'
  'r': 'abort!'
  's': 'abort!'
  't': 'abort!'
  'u': 'abort!'
  'v': 'abort!'
  'w': 'abort!'
  'x': 'abort!'
  'y': 'abort!'
  'z': 'abort!'
  '{': 'abort!'
  '|': 'abort!'
  '}': 'abort!'
  '~': 'abort!'

# Narrow
# -------------------------
'atom-workspace:not(.has-narrow) atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'cmd-e': 'narrow:search-by-current-word'

'atom-workspace.has-narrow atom-text-editor.vim-mode-plus.normal-mode':
  'cmd-f': 'narrow:focus'
  'cmd-i': 'narrow:focus-prompt'
  'cmd-[': 'narrow:previous-query-history'
  'cmd-]': 'narrow:next-query-history'
  'cmd-e': 'narrow:query-current-word'

'atom-workspace.has-narrow atom-text-editor.vim-mode-plus.normal-mode:not(.narrow-editor)':
  ';': 'narrow:focus'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode[data-grammar="source narrow"]':
  # 'ctrl-right': 'pane:split-right-and-move-active-item'
  # 'ctrl-left': 'pane:split-left-and-move-active-item'
  # 'i': 'vim-mode-plus:activate-insert-mode'
  # '-': 'narrow-ui:exclude-file'
  # '=': 'narrow-ui:clear-excluded-files'
  'i': 'narrow-ui:move-to-prompt'
  's': 'narrow-ui:select-files'
  ';': 'narrow-ui:confirm-keep-open'
  'n': 'narrow-ui:move-to-next-file-item'
  'p': 'narrow-ui:move-to-previous-file-item'
#

# On narrow-editor
'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"]':
  'cmd-s': 'narrow-ui:update-real-file'
