# [BUG]
# My dot files are allways collection of garbages.
# So if it doesn't work, please give up!
# -------------------------
# 'atom-workspace:not(.atom-text-editor)':
  # 'ctrl-p': 'user:open-tryit-coffee'

# 'atom-text-editor:not([mini])':
#   'a': 'user:hello'
  # 'enter': 'narrow:search-by-current-word'

'atom-workspace:not([mini])':
  'ctrl--': 'vim-mode-plus-user:jasmine-increase-focus'

  'cmd-ctrl-shift-left': 'window:move-active-item-to-pane-on-left'
  'cmd-ctrl-shift-right': 'window:move-active-item-to-pane-on-right'
  'cmd-ctrl-shift-up': 'window:move-active-item-to-pane-above'
  'cmd-ctrl-shift-down': 'window:move-active-item-to-pane-below'

  'cmd-p': 'project-folder:add'
  'cmd-x': 'paner:swap-pane'
  'cmd-X': 'paner:send-item'
  'cmd-K': 'paner:very-top'
  'cmd-J': 'paner:very-bottom'
  'cmd-H': 'paner:very-left'
  'cmd-L': 'paner:very-right'

  # 'ctrl--': 'choose-pane:start'
  # '\\': 'choose-pane:start'
  # 'ctrl--': 'toggle:here'
  'ctrl-[': 'core:cancel'
  'ctrl-g': 'core:cancel'

  # Open my local config
  'ctrl-cmd-e i': 'application:open-your-init-script'
  'ctrl-cmd-e c': 'application:open-your-config'
  'ctrl-cmd-e k': 'application:open-your-keymap'
  'ctrl-cmd-e s': 'application:open-your-stylesheet'
  'ctrl-cmd-e n': 'application:open-your-snippets'
  'ctrl-cmd-e p': 'project-folder:open-config'

  # [cursor history]
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

  'cmd-2': 'pane:split-down-and-copy-active-item'
  'cmd-3': 'pane:split-right-and-copy-active-item'

  # [project-folder]
  'ctrl-alt-p': 'project-folder:add'

'atom-text-editor.vim-mode-plus.visual-mode.blockwise':
  # t9md/atom-vim-mode-plus#214
  'G': 'DONT_MOVE_TO_LAST_LINE'

'atom-text-editor:not(.narrow-editor)':
  'cmd-]': 'cursor-history:next'
  'cmd-[': 'cursor-history:prev'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '\\': 'choose-pane:start'


  '(': 'vim-mode-plus-user:move-to-previous-symbol'
  ')': 'vim-mode-plus-user:move-to-next-symbol'


  'ctrl-shift-k': 'vim-mode-plus:delete-line'

  'Q': 'vim-mode-plus:move-to-previous-subword'
  'space f': 'narrow:fold'
  'space o': 'narrow:symbols'

  'ctrl-z': 'narrow:reopen'
  'cmd-o': 'narrow:symbols-by-current-word'
  'cmd-r': 'narrow:symbols'

  'shift-cmd-o': 'narrow:project-symbols-by-current-word'
  # 'shift-cmd-r': 'narrow:project-symbols'

  'space l': 'narrow:scan'
  'space L': 'narrow:scan-by-current-word'
  'cmd-l': 'narrow:scan-by-current-word'
  'space C': 'narrow:linter'
  'space s': 'narrow:search'
  'shift-cmd-g': 'narrow:search-by-current-word'
  # 'enter': 'narrow:search-by-current-word'

  # 'cmd-e': 'narrow:search-by-current-word'
  'space S': 'narrow:search-by-current-word'
  # 'space a': 'narrow:atom-scan'
  # 'space A': 'narrow:atom-scan-by-current-word'
  # 'space G': 'narrow:git-diff'
  'space G': 'narrow:git-diff-all'
  'space B': 'narrow:bookmarks'

  # 'space n S': 'narrow:search-by-current-word'
  # 'space n s': 'narrow:search-current-project-by-current-word'
  # 'space n s s': 'narrow:search'

  # 'enter': 'vim-mode-plus:toggle-persistent-selection'
  'g .': 'vim-mode-plus:add-preset-occurrence-from-last-occurrence-pattern'

  'ctrl-/': 'vim-mode-plus:toggle-line-comments'
  # 'm s': 'vim-mode-plus:map-surround'

  'f5': 'vim-mode-plus-user:replace-with-execution'
  'shift-f5': 'vim-mode-plus-user:replace-with-execution-keep-original-text'

  # 'g i': 'vim-mode-plus:insert-at-end-of-target'
  # 'g i': 'vim-mode-plus:insert-at-start-of-occurrence'
  # 'g i': 'vim-mode-plus:insert-or-append-occurrence-by-target'
  # 'g i': 'vim-mode-plus:insert-or-append-by-target'
  # insert-or-append-by-target
  'g i': 'vim-mode-plus:insert-at-start-of-occurrence'
  'g a': 'vim-mode-plus:insert-at-end-of-occurrence'

  # 'g a': 'vim-mode-plus:insert-at-end-of-occurrence'

  # 'g I': 'vim-mode-plus:insert-at-start-of-occurrence-in-paragraph'
  # 'ctrl-shift-c': 'vim-mode-plus:change-occurrence-in-paragraph'
  # 'g A': 'vim-mode-plus:insert-at-end-of-occurrence-in-paragraph'
  'g d': 'vim-mode-plus:select-occurrence'
  # '-': 'choose-pane:start'
  # 'm m': 'choose-pane:focus-last-focused'

  'g m': 'vim-mode-plus:mark'
  # 'g m': 'vim-mode-plus:toggle-persistent-selection'
  'g M': 'vim-mode-plus:clear-persistent-selection'

  'g enter': 'vim-mode-plus:create-persistent-selection'
  'space enter': 'vim-mode-plus:clear-persistent-selection'

  'g h': 'vim-mode-plus-user:quick-highlight'
  # 'g s': 'vim-mode-plus:split-character'

  'w': 'vim-mode-plus:move-to-next-smart-word'
  'b': 'vim-mode-plus:move-to-previous-smart-word'
  'e': 'vim-mode-plus:move-to-end-of-smart-word'

  'g C': 'vim-mode-plus:camel-case'
  'g |': 'vim-mode-plus:trim-string'
  # 'g p': 'vim-mode-plus:pascal-case'
  'g P': 'vim-mode-plus:put-before-with-auto-indent'
  'g p': 'vim-mode-plus:put-after-with-auto-indent'

  # 'g p': 'vim-mode-plus:put-after-and-select'

  'ctrl-s': 'vim-mode-plus:transform-string-by-select-list'
  # 'ctrl-s': 'vim-mode-plus:transform-string-by-select-list'
  # 'f5': 'vim-mode-plus:tranform-string-by-external-command'

  # 'g _': 'vim-mode-plus:snake-case'
  'g %': 'vim-mode-plus:encode-uri-component'

  'cmd-up': 'vim-mode-plus:move-to-previous-fold-start-with-same-indent'
  'cmd-down': 'vim-mode-plus:move-to-next-fold-start-with-same-indent'
  # 'g r': 'vim-mode-plus:reverse'
  'g r': 'vim-mode-plus:replace'
  # 'g >': 'vim-mode-plus:rotate-by-comma'
  # 'g <': 'vim-mode-plus:rotate-by-comma-backward'
  'g >': 'vim-mode-plus:rotate-comma-word'
  'g <': 'vim-mode-plus:remove-leading-white-spaces'
  'g s': 'vim-mode-plus:sort'

'atom-workspace atom-text-editor:not([mini])':
  # 'ctrl-cmd-c': 'user:clear-console'
  'ctrl-cmd-r': 'run-in-atom:run-in-atom'

  # for dev use.s
  'ctrl-up': 'check-up'
  'ctrl-down': 'check-down'
  'ctrl-right': 'check-right'
  'ctrl-left': 'check-left'

  'cmd-i': 'transformer:run'
  'shift-cmd-i': 'transformer:compile'

'atom-text-editor.vim-mode-plus.normal-mode':
  'enter': 'narrow:search-by-current-word'
  'space d': 'demo-mode:toggle-without-auto-hide'
  ',': 'demo-mode:toggle'
  'ctrl-cmd-c': 'user:clear-console'

  'B': 'vim-mode-plus:insert-at-start-of-smart-word'
  'E': 'vim-mode-plus:insert-at-end-of-smart-word'

  'cmd-L': 'paner:very-right'
  'f7': 'vim-mode-plus:reload-packages'
  'shift-f7': 'user:package-hot-reload'

  "g '": 'vim-mode-plus:move-to-next-string'

  'cmd-shift-up': 'theme-switch:prev'
  'cmd-shift-down': 'theme-switch:next'

  # 'g c': 'vim-mode-plus:select-latest-change'

  'ctrl-{': 'vim-mode-plus:insert-at-previous-fold-start'
  'ctrl-}': 'vim-mode-plus:insert-at-next-fold-start'
  # '{': 'vim-mode-plus:move-to-previous-fold-start'
  # '}': 'vim-mode-plus:move-to-next-fold-start'

  'cmd-z': 'vim-mode-plus:toggle-fold'

  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'

  'space g l': 'go-to-line:toggle'

  # open-on-github, github-diff: g
  # -------------------------
  'space g o': 'open-on-github:file'
  'space g b': 'open-on-github:blame'
  'space g h': 'open-on-github:history'
  'space g i': 'open-on-github:issues'
  'space g c': 'open-on-github:copy-url'
  'space g r': 'open-on-github:branch-compare'
  'space g g': 'open-on-github:repository'

  'space g n': 'git-diff:move-to-next-diff'
  'space g p': 'git-diff:move-to-previous-diff'
  'space g d': 'git-diff:toggle-diff-list'

  'space p': 'project-folder:add'
  # 'space n l': 'narrow:lines-by-current-word'
  # 'f9': 'toggle:there'
  '-': 'toggle:there'

  # 'f8': 'vim-mode-plus:investigate'
  'shift-f8': 'core:redo'

  # toggle-setting: t
  # -------------------------
  'space c': 'user:toggle-show-invisible'
  'space n': 'editor:toggle-line-numbers'
  'space t i': 'user:toggle-show-invisible'
  'space t I': 'editor:toggle-indent-guide'
  'space t w': 'editor:toggle-soft-wrap'
  'space t n': 'editor:toggle-line-numbers'

  # surround: ys
  # -------------------------
  'S': 'vim-mode-plus:surround-smart-word'

  # [open-this]
  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  # misc
  # -------------------------
  'space /': 'vim-mode-plus:clear-highlight-search'
  'f10': 'window:run-package-specs'
  'shift-f9': 'vim-mode-plus:toggle-debug'
  'g x': 'link:open'
  'T': 'try:paste'
  'space T': 'try:open-file'

'atom-text-editor[mini]':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'ctrl-w': 'editor:delete-to-beginning-of-word'

'atom-text-editor.vim-mode-plus.visual-mode[data-grammar="source gfm"]':
  'f5': 'vim-mode-plus-user:replace-with-execution'
  'shift-f5': 'vim-mode-plus-user:replace-with-execution-keep-original-text'

# 'atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source coffee"]':
#   # '-': 'vim-mode-plus-user:jasmine-increase-focus'
  # 'ctrl--': 'vim-mode-plus-user:jasmine-increase-focus'
  # 'ctrl--': 'vim-mode-plus-user:jasmine-decrease-focus'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  # '_': 'vim-mode-plus:replace-with-register'
  # 'space m': 'quick-highlight:toggle'
  'space m': 'vim-mode-plus-user:quick-highlight-word'
  'space M': 'quick-highlight:clear'
  'm': 'vim-mode-plus:toggle-preset-occurrence'
  'M': 'vim-mode-plus:toggle-preset-subword-occurrence'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':

  # 'a q': 'vim-mode-plus:a-subword'
  # 'i q': 'vim-mode-plus:inner-subword'
  ',': 'vim-mode-plus:demo-toggle-with-auto-hide'
  "'": 'vim-mode-plus:inner-any-quote'

  # Use closing pair as forwarding version of pair-text-object
  'i }': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a }': 'vim-mode-plus:a-curly-bracket-allow-forwarding'

  'i >': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'
  'a >': 'vim-mode-plus:a-angle-bracket-allow-forwarding'

  'i )': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a )': 'vim-mode-plus:a-parenthesis-allow-forwarding'

'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-p': 'core:move-up'
  'j k': 'vim-mode-plus:activate-normal-mode' # jk to escape
  # 'cmd ^cmd ^cmd': 'vim-mode-plus:activate-normal-mode'

  'ctrl-/': 'autocomplete-plus:activate'

  'cmd-f': 'editor:move-to-end-of-word'
  'cmd-b': 'editor:move-to-beginning-of-word'
  'cmd-d': 'editor:delete-to-end-of-word'

  'ctrl-cmd-f': 'vim-mode-plus:move-to-next-subword'
  'ctrl-cmd-b': 'vim-mode-plus:move-to-previous-subword'
  'ctrl-cmd-d': 'editor:delete-to-end-of-subword'
  'ctrl-cmd-w': 'editor:delete-to-beginning-of-subword'

  'ctrl-y': 'clip-history:paste'
  'cmd-y': 'clip-history:paste-newer'
  'ctrl-Y': 'clip-history:paste-last'
  'ctrl-.': 'vim-mode-plus:insert-last-inserted'
  'ctrl-{': 'vim-mode-plus:move-to-previous-fold-start'
  'ctrl-}': 'vim-mode-plus:move-to-next-fold-start'

  # [FOR vmp test]
  # 'ctrl-y': 'vim-mode-plus:copy-from-line-above'
  # 'ctrl-e': 'vim-mode-plus:copy-from-line-below'

'atom-text-editor.vim-mode-plus.visual-mode':
  # 'S': 'vim-mode-plus:surround'

  'ctrl-t': 'vim-mode-plus-user:move-selected-text-toggle-overwrite'
  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'
  'up': 'vim-mode-plus-user:move-selected-text-up'
  'down': 'vim-mode-plus-user:move-selected-text-down'
  'left': 'vim-mode-plus-user:move-selected-text-left'
  'right': 'vim-mode-plus-user:move-selected-text-right'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

  'T': 'try:paste'
  'cmd-c': 'vim-mode-plus:yank'

'.select-list':
  ';': 'core:confirm'
  'ctrl-l': 'pane:split-right'
  'ctrl-j': 'pane:split-down'
  'ctrl-g': 'core:cancel'

'.markdown-preview':
  '-': 'choose-pane:start'
  # 'm m': 'choose-pane:focus-last-focused'
  'j': 'core:move-down'
  'k': 'core:move-up'

'.preview-pane result-view list-tree':
  'j': 'core:move-down'
  'k': 'core:move-up'
  'g g': 'core:move-to-top'
  'G': 'core:move-to-bottom'

'atom-text-editor.vim-mode-plus-search':
  # 'f10': 'vim-mode-plus-user:hello'
  'ctrl-g': 'vim-mode-plus:search-cancel'

'atom-text-editor.vim-mode-plus-search:not(.literal-mode)':
  '[': 'vim-mode-plus:search-visit-prev'
  ']': 'vim-mode-plus:search-visit-next'
  ';': 'core:confirm'

'atom-text-editor.vim-mode-plus.operator-pending-mode:not(.lower-case-pending)':
  'u': 'vim-mode-plus:inner-indentation'

'atom-text-editor.vim-mode-plus.operator-pending-mode.has-occurrence':
  'o': 'vim-mode-plus:inner-current-line'
  'O': 'vim-mode-plus:inner-current-line'

'atom-text-editor.vim-mode-plus.insert-mode.autocomplete-active':
  'ctrl-g': 'autocomplete-plus:cancel'

# Tree-view navigation
# -------------------------
'.tree-view':
  '-': 'choose-pane:start'
  '\\': 'choose-pane:start'
  'g g': 'core:move-to-top'
  'shift-g': 'core:move-to-bottom'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'

'.platform-darwin .find-and-replace atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'

'.platform-darwin .project-find atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'

'.project-folder atom-text-editor[mini]':
  'cmd-enter': 'project-folder:replace'

'atom-text-editor#choose-pane-editor':
  '\\': 'choose-pane:last-focused'
  '-': 'choose-pane:last-focused'

# Narrow
# -------------------------
'atom-workspace.has-narrow atom-text-editor.vim-mode-plus.normal-mode':
  'cmd-f': 'narrow:focus'
  'cmd-i': 'narrow:focus-prompt'
  'ctrl-cmd-l': 'narrow:refresh'

'atom-workspace.has-narrow atom-text-editor.vim-mode-plus.normal-mode:not(.narrow-editor)':
  # ';': 'narrow:focus'
  ';': 'narrow:focus-prompt'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode[data-grammar="source narrow"]':
  'P': 'narrow-ui:protect'
  'q': 'core:close'
  'ctrl-right': 'pane:split-right-and-move-active-item'
  'ctrl-left': 'pane:split-left-and-move-active-item'
  'i': 'vim-mode-plus:activate-insert-mode'
  '-': 'narrow-ui:exclude-file'
  '=': 'narrow-ui:clear-excluded-files'
  's': 'narrow-ui:select-files'
  ';': 'narrow-ui:confirm-keep-open'
  "enter": 'core:confirm'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.visual-mode[data-grammar="source narrow"]':
  'I': 'vim-mode-plus:insert-at-start-of-target'

# On narrow-editor
'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"]':
  'cmd-f': 'narrow:focus'
  'cmd-i': 'narrow:focus-prompt'
  'cmd-s': 'narrow-ui:update-real-file'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.insert-mode:not(.autocomplete-active)[data-grammar="source narrow"]':
  ';': 'narrow-ui:confirm-keep-open'

'atom-workspace.demo-mode-active atom-text-editor:not([mini])':
  'up': 'demo-mode:move-hover-up'
  'down': 'demo-mode:move-hover-down'
  'left': 'demo-mode:move-hover-left'
  'right': 'demo-mode:move-hover-right'
  "'": 'demo-mode:stop-or-start-auto-hide'
